@model CC1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Welcome</h4>
<hr />

        <div>
            <H5>
                Welcome to the Department of X Childcare Provider Portal.
            </H5>
            <p>Please dont do anything naughty!
                
                Est lorem probatus indoctum ad, tibique corpora vel at. Nec ex minim prompta aliquam, at eos omnis omittam. No equidem graecis mea, vim te elitr aliquid disputando, eu rebum libris cetero eos. Eu est doming nominati. Qui ad possim meliore, vis mollis tibique suscipit id, ad per everti verear. Eam amet graeci vituperatoribus et.

                Odio libris mel in, agam dicant quaestio ad vim. Cum commodo voluptua mandamus no. Appetere pertinacia usu cu. Cu sit etiam nostro menandri, malis nobis gubergren usu ea.

                Te vix clita apeirian atomorum, pro id vero suscipit. Mei in vidit dolore. Ea nam facilisis voluptatum deterruisset, vis et quis paulo tation, quod cibo sea ea. Eam ad dicat tollit alienum.

                Vel in modus simul impedit, ea modo iusto ullamcorper duo, affert concludaturque vim ei. Elit probo intellegebat vis no. Vim ut timeam perpetua periculis, mel cu probo dictas urbanitas, ea electram salutatus mei. Ad idque utamur pri, ut quo causae volumus maluisset, iisque erroribus conclusionemque sea id. Mei alii elit timeam an.
            </p>
        </div>

