@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Childcare Attendance Beta</h1>
    <p class="lead">Beta 1.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    @Html.Partial("_LoginPartial")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is the Childcare Attendance Beta.
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/drive/shared-with-me">Google Drive Stuff &raquo;</a></p>
    </div>
</div>