@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
    <h1>Childcare Attendance Beta</h1>
    <p class="intro">This is the entry point for the BETA trial of the <strong>Child Care Digital Transformation Exemplar</strong> being developed by the Department of Education and Training in partnership with the Digital Transformation Office (DTO), the Department of Social Services and the Department of Human Services. The project vision is to improve attendance recording and data capture for families, child care providers and government.</p>
    <p><strong>Information presented here is only for the purpose of testing concepts and should not be relied on in any way. The website and the content may change at anytime during testing.</strong></p>
    @Html.Partial("_LoginPartial")